<div class="card">
    <div class="inner">
        <div class="front"> <img src="../../assets/LOGO.jpg" alt="logo"></div>
        <div class="back">
            <div class="text">
                <p>
                    Everyone keeps saying how important it is to travel. 
                    We are here for you! This website will give you suggestions about intresting places you can visit in Greece.
                    We are a team of university students from Thesssalonikki who love travelling and we can help you to find 
                    the ideal place for your holidays. We decide to create this website to show you our favourite 
                    tourist destinations in Greece.
                    So what's all this fuss about? Why do people travel and love travelling?
                    More importantly: why should we travel more?
                    The benefits of traveling are not just a one-time thing: traveling changes you physically and 
                    psychologically. Having little time or money isn't a valid excuse. You can fly for cheap very easily. 
                    If you have a full-time job and a family, you can still travel on the weekends or holidays, even with a baby.
            
                    Especially:</p>
                    <ul>
                        <li>Traveling Improves Your Health</li>
                        <li>Traveling Lets You Disconnect From Your Daily Life</li>
                        <li>Traveling Improves Your Understanding Of Other Cultures</li>
                        <li>Traveling Allows You To Try Amazing Food</li>
                        <li>Traveling Let you Create Lifetime Memories</li>
                    </ul>
               
            </div>
        </div>
    </div>
</div>