<div class="row">
    <div class="col">
        <div class="container" *ngFor="let destination of destinations | slice: 0:8">
            <img src="{{destination.link}}" alt="{{destination.name}}">
            <div class="overlay">
                <div class="text">{{destination.name}}</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container" *ngFor="let destination of destinations | slice: 8:16">
            <img src="{{destination.link}}" alt="{{destination.name}}">
            <div class="overlay">
                <div class="text">{{destination.name}}</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container" *ngFor="let destination of destinations | slice: 16:24">
            <img src="{{destination.link}}" alt="{{destination.name}}">
            <div class="overlay">
                <div class="text">{{destination.name}}</div>
            </div>
        </div>
    </div>
    
</div>