<div class="homepage">
    <h1>Travel in Greece</h1>
    <p>Going on road trips, cuisines, learning the culture and exploring new places does rivet most people. 
        If it does this to you then traveling is your hobby. You may be a wanderlust who always seeks adventure.
        Traveling is rejuvenating and fun as well. It enriches your soul. You leave a small part of yourself with 
        the travel diaries and get to learn more about yourself. It may be an addiction to most people and the 
        following reasons make it certainly the best hobby.</p>
    <p>Greece, the southernmost of the countries of the Balkan Peninsula.
        Geography has greatly influenced the country’s development. Mountains historically restricted internal communications,
        but the sea opened up wider horizons. Greece is bordered to the east by the Aegean Sea, to the south by the Mediterranean Sea,
        and to the west by the Ionian Sea.</p>
        <p>Generally is a beautiful country where you can have great time, enjoy many activities and guided tours.
        Therefore seize the opportunity and travel to Greece.</p>
    <ul>
        <li  *ngFor="let destination of destinations">
            <a href="{{destination.link}}">{{destination.name}} </a>
        </li>
    </ul>
</div>